
body, ul, li{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #D0DDD0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.page-title {
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin: 0;
    padding-top: 15px;
    text-align: center;
}

ul {
    list-style-type: none;
}

img {
    border: 1px solid black;
}

.page-content{
    background-color: #FFFDF0;
    width: 70%;
    margin: 0 auto;
    padding: 50px 30px;
}

.block-content{
    border: 1px solid grey;
    margin: 20px auto;
    width: 60%;
    max-width: 600px;
    

}

img {
    width: 100%;
}

.block-content h3 {
    text-align: center;
}

.inline {
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}

.l {
    padding-left: 35%;
}

.r {
    padding-right: 30%;
}

.price {
    width: 60%;
    margin: auto;
    text-align: center;
    height: 60px;
    padding-top: 15px;
    border-top: 2px solid black;
}

p {
    text-align: center;
}

.txt {
    text-decoration: wavy;
}