{% extends "shop_app/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'shop_app/forms.css' %}">

<div class="login-container">
    <h2>Register</h2>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}
        <br><br>
        <button type="submit" class="btn">Register</button>
        
    </form>
</div>
{% endblock %}
